In [12]:
# run code, and import env
import env
import pandas as pd
import numpy as np

In [8]:

def get_db_url(url):
    url=f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'
    return url

In [9]:
# extra information from employees table
pd.read_sql('SELECT * FROM employees LIMIT 10', url)

NameError: name 'url' is not defined

In [10]:
# intentionally make error in url
url = f'get_db_url://{uer}:{password}@{host}/employees'
# nameError

NameError: name 'uer' is not defined

In [11]:
# intentionally make error in SQL query
pd.read_sql('SELECT * FROM employees',url)
# nosuchmoduleerror

NameError: name 'url' is not defined

In [6]:
pd.read_sql('SELECT * FROM titles LIMIT 10',url)

NameError: name 'url' is not defined